<h2>Celebrity Creator</h2>
<form action="/celebrities/create" method="post">
<label for="">Name: </label>
<input type="text" name="name" id="" required>
<label for="">Occupation: </label>
<input type="text" name="occupation" id="" required>
<label for="">Catch Phrase: </label>
<input type="text" name="catchPhrase" id="" required>
<button type="submit">Create</button>
</form>